In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_digits, load_breast_cancer
from sklearn.cross_validation import cross_val_score
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

/Applications/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
digits = load_digits()
breast = load_breast_cancer()

In [4]:
X_digits_df = pd.DataFrame(digits.data)
X_breast_df = pd.DataFrame(breast.data, columns=breast.feature_names)
y_digits_df = pd.DataFrame(digits.target)
y_breast_df = pd.DataFrame(breast.target)

In [32]:
X_digits = X_digits_df.values
X_digits_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0

In [58]:
y_digits = y_digits_df.values.reshape(y_digits_df.shape[0],)
XY_digits = [X_digits, y_digits]
y_digits_df.head(3)

   0
0  0
1  1
2  2

In [34]:
X_breast = X_breast_df.values
X_breast_df.head(3)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [59]:
y_breast = y_breast_df.values.reshape(y_breast_df.shape[0],)
XY_breast = [X_breast, y_breast]
y_breast_df.head(3)

   0
0  0
1  0
2  0

In [60]:
nb_gau_clf_digits = GaussianNB()
nb_ber_clf_digits = BernoulliNB()
nb_mlt_clf_digits = MultinomialNB()

nb_gau_clf_breast = GaussianNB()
nb_ber_clf_breast = BernoulliNB()
nb_mlt_clf_breast = MultinomialNB()

nb_gau_clf = GaussianNB()
nb_ber_clf = BernoulliNB()
nb_mlt_clf = MultinomialNB()

estimators=[nb_gau_clf, nb_ber_clf, nb_mlt_clf]
datasets  ={'digits':[X_digits, y_digits],
            'breast':[X_breast, y_breast]}

In [72]:
cvs=[]
data_names=[]
estim_names=[]
for key, value in datasets.iteritems():
    for i, v in enumerate(estimators) :
        cvs.append(np.mean(cross_val_score(v, value[0], value[1])))
        data_names.append(str(key))
        estim_names.append(str(v))

In [82]:
data_names

['digits', 'digits', 'digits', 'breast', 'breast', 'breast']

In [83]:
estim_names

['GaussianNB(priors=None)',
 'BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)',
 'MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)',
 'GaussianNB(priors=None)',
 'BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)',
 'MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)']

In [84]:
cvs

[0.81860038035501381,
 0.82582365077805819,
 0.87087714897350532,
 0.9367492806089297,
 0.62742040285899936,
 0.89457904019307521]

In [87]:
def write_ans(ans, name):
    with open (name, 'w') as fout:
        fout.write(str(ans))
        fout.close

In [88]:
write_ans(max(cvs), 'ans_1.txt')

In [89]:
write_ans(max(cvs[:3]), 'ans_2.txt')

In [91]:
write_ans('3 4', 'ans_2.txt')